.admin-page{
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background: #EBEFF2;
}

.admin-page__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 10px;
}