.menu-content-container{
    width: 100%;
    height:100%;
    position: relative;
}

.menu-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.menu-categories-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:60%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.menu-categories-btn{
    width: 126px;
    height: 52px;
    border-radius: 100px;
    color: #2A3440;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.active{
    background: #F47356;
    color: white;
}

.menu{
    position: absolute;
    bottom: 0;
}

.menu-cart-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 430px;
    height: 77px;
    border-radius: 100px;
    background: #F47356;
    font-family: "Poppipins",sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    border: none;
    outline: none;
    position: absolute;
    right: 55px;px;
    top:500px;
    cursor: pointer;
}



