.orders-content{
    width: 1068px;
    height: 95vh;
}

.orders-header{
    display: flex;
    align-items: center;
    gap:30px;
    width:100%;
    margin: 0 auto;
    padding-left: 10px;
    margin-top:15px;
    margin-bottom: 15px;
}

.orders-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: 100%;
    height:450px;
    padding-left: 10px;
    margin-top: 5px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.orders-container::-webkit-scrollbar{
    display: none;
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 54px;
}

.orderStatusBtns{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    width: 156px;
    height: 54px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    color: #2A3440;
    
}

.active{
    background: #F47356;
    color: white;
}

.orderStatusBtns span{
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.status-icon-1{
    background: #85CAFF;
}

.status-icon-2{
    background: #FDF876;
}

.status-icon-3{
    background: #51DB67;
}
.status-icon-4{
    background: #EBEFF2;
}

.status-icon-5{
    background: #2A3440;
}