@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Yaro';
    src: url('./fonts/yaro/YaroOp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
